@model HMS.Dashboards.Areas.Reception.Controllers.CreatePatientVm
@{
    Layout = "/Areas/Reception/Views/Shared/_Layout.Reception.cshtml";
}
<h3>New Patient</h3>

<form method="post">
    <div>
        <label>First name</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label>Last name</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label>Phone</label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <button type="submit">Save</button>
</form>
